<head>
  <!-- ✅ Bootstrap Icons -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
  />
</head>

<!-- Footer -->
<footer class="mt-auto bg-dark text-light py-4 mt-5">
  <div class="container text-center">
    <div class="mb-3">
      <a
        href="https://www.instagram.com/mzaidkhan2004"
        target="_blank"
        class="text-light me-3 fs-5"
      >
        <i class="bi bi-instagram"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/mohammad-zaid-khan-020199260/"
        target="_blank"
        class="text-light me-3 fs-5"
      >
        <i class="bi bi-linkedin"></i>
      </a>
      <a
        href="https://github.com/64bitAtomic"
        target="_blank"
        class="text-light me-3 fs-5"
      >
        <i class="bi bi-github"></i>
      </a>
      <a
        href="https://innospark.netlify.app/"
        target="_blank"
        class="text-light fs-5"
      >
        <i class="bi bi-globe"></i>
      </a>
    </div>
    <p class="mb-0 small text-light">©
      {{year}}
      Compile Time. All rights reserved.</p>
  </div>
</footer>